@tailwind base;
@tailwind components;
@tailwind utilities;

$primaryHover: #cce3d5;
$primaryBg: #e1f0e6;

html, body {
  font-family: "Roboto Mono", Menlo, Monaco;
}

html,
body,
#__nuxt,
#__layout,
#app {
  @apply h-full w-full;
}