@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: "Roboto Mono", Menlo, Monaco;
}

html,
body,
#__nuxt,
#__layout,
#app {
  @apply h-full w-full;
}

.list-move,
.list-enter-active,
.list-leave-active {
  transition: transform 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.list-leave-active {
  position: absolute;
}

.ck-blurred,
.ck-focused {
  border: none !important;
  box-shadow: none !important;
}

.ck-powered-by {
  display: none !important;
}