@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  background-color: #fff;
}

html,
body,
#__nuxt,
#__layout,
#app {
  @apply h-full w-full;
}

.list-move,
.list-enter-active,
.list-leave-active {
  transition: transform 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.list-leave-active {
  position: absolute;
}

.ck-blurred,
.ck-focused {
  border: none !important;
  box-shadow: none !important;
}

.ck-powered-by {
  display: none !important;
}

.input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #dbe3e4;
  background-color: #fff;
}

.no-el-border {
  .el-input__wrapper,
  .el-input__wrapper:hover,
  .el-textarea__inner {
    background-color: transparent;
    box-shadow: none;
    resize: none;
  }
}