$primaryColor: #2daf6f;
$primaryHoverColor: #e1f0e6;
$primaryActiveColor: #9fd6b5;
$containerBgColor: #ffffff;
$textColor: rgb(20, 20, 20);
$textSecondaryColor: rgb(100, 100, 100);
$borderColor: #d9d9d9;
$maskColor: rgba(220, 220, 220, 0.2);

@forward 'element-plus/theme-chalk/src/common/var.scss' with ($colors: ('primary': ('base': #2daf6f),
    'success': ('base': #52c41a),
    'warning': ('base': #faad14),
    'danger': ('base': #ff4d4f),
    'error': ('base': #f56c6c),
    'info': ('base': #1677ff),
  ),
);