$primaryHover: #e1f0e6;
$primaryActive: #1d8a57;
$containerBg: #ffffff;
$textColor: rgba(0, 0, 0, 0.88);

$-colors: (
  'primary': ('base': #2daf6f),
  'success': ('base': #52c41a),
  'warning': ('base': #faad14),
  'danger': ('base': #ff4d4f),
  'error': ('base': #f56c6c),
  'info': ('base': #1677ff),
);


@forward 'element-plus/theme-chalk/src/common/var.scss' with ($colors: $-colors);
