$primaryColor: #2daf6f;
$primaryHoverColor: #e1f0e6;
$primaryActiveColor: #1d8a57;
$containerBgColor: #ffffff;
$textColor: rgba(0, 0, 0, 0.88);
$textSecondaryColor: rgba(0, 0, 0, 0.45);
$borderColor: #d9d9d9;
$maskColor: rgba(200, 200, 200, 0.1);

@forward 'element-plus/theme-chalk/src/common/var.scss' with ($colors: ('primary': ('base': #2daf6f),
    'success': ('base': #52c41a),
    'warning': ('base': #faad14),
    'danger': ('base': #ff4d4f),
    'error': ('base': #f56c6c),
    'info': ('base': #1677ff),
  ),
);